{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number</th>
                <th>Sitenumber</th>
                <th>Provinceid</th>
                <th>City</th>
                <th>Suburb</th>
                <th>Street</th>
                <th>Cnrstreet</th>
                <th>Gpslong</th>
                <th>Gpslat</th>
                <th>Illuminationid</th>
                <th>Typeid</th>
                <th>Sizeid</th>
                <th>Categoryid</th>
                <th>Ratetypeid</th>
                <th>Templateid</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.siteNumber }}</td>
                <td>{{ entity.provinceId }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.suburb }}</td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.cnrStreet }}</td>
                <td>{{ entity.gpsLong }}</td>
                <td>{{ entity.gpsLat }}</td>
                <td>{{ entity.illuminationId }}</td>
                <td>{{ entity.typeId }}</td>
                <td>{{ entity.sizeId }}</td>
                <td>{{ entity.categoryId }}</td>
                <td>{{ entity.rateTypeId }}</td>
                <td>{{ entity.displayTemplateId }}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('product_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('product_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
